<html>
    <head>
        <title>stocks</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui container">
            <h1>Stock List</h1>
            <table class="ui selectable inverted table">
                <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                    {%for stock in stocks%} 
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td><a href="/stock/{{ stock.symbol }}">{{ stock.name }}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
              </table>
        </div>
        
    <table>
    {%for stock in stocks%} 
    <tr>
        <td>{{ stock.id }}</td>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.name }}</td>
    </tr>
    {%endfor%}
    </table>
    
    </body>
</html>
